HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/src/main/java/jpa/bookCafe/controller/TestDataController.java
/src/main/resources/application-prod.yml
/src/main/resources/keystore.p12
/src/main/resources/static/static/css/main.547b472f.css
/src/main/resources/static/static/css/main.547b472f.css.map
/src/main/resources/static/static/js/main.98112f8e.js
/src/main/resources/static/static/js/main.98112f8e.js.LICENSE.txt
/src/main/resources/static/static/js/main.98112f8e.js.map
